body {
    margin: 20px 200px 0px 50px;
    background-color: #ffffff;
}

.mv-padding {
    padding: 4% 0%;
}

.mv-margin {
    margin: 0% 0% 0% 12%;
}

.mv-sub-heading {
    font-family: 'Roboto', sans-serif;
    color: #e12129;
    font-size: 15px;
}

.mv-heading {
    font-family: 'Roboto Slab', serif;
    font-size: 35px;
    color: #3e3e3e;
}

p * {
    font-size: 14px;
    line-height: 28px;
    font-family: 'Roboto', sans-serif;
}

.btn-df-red {
    background-color: #e12129;
    display: inline-block;
    border: none;
    padding: 10px 10px 12px;
    border-radius: 25px;
    color: #ffffff;
    font-size: 14px;
    outline: none !important;
    box-shadow: 0px 2px 13px -5px #0000008c;
    min-width: 180px;
}

.mv-details {
    margin: 20px 0px 45px 0px;
    padding: 0px 34px 0px 0px;
    font-size: 14px;
    line-height: 28px;
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 10px;
    line-height: 16px;
    font-family: 'Roboto', sans-serif;
    padding: 6px 0px 0px 0px;
}

.nav-item {
    font-size: 14px;
    line-height: 28px;
    font-family: 'Roboto', sans-serif;
}

.img-building img {
    object-fit: cover;
    width: 50%;
    height: 550px;
    border-radius: 25px;
    margin: -67px 0px 0px 81px;
}

.mv-home {
    background-image: linear-gradient( 135deg, #c0c72a, #017f00 50%);
    color: #ffffff!important;
}

.mv-box {
    width: 26%;
    margin: 0px 511px 0px 5px;
    text-align: center;
    font-size: 10px;
    border-radius: 25px;
    box-shadow: -7px 2px 13px -5px #0000008c;
    position: absolute;
    background-color: #ffffff
}

.mv-img-txt {
    position: relative;
}

.mv-people,
.mv-home {
    padding: 20px 30px;
}

.mv-img-cooking img {
    object-fit: cover;
    width: 175px;
    height: 225px;
    border-radius: 25px;
    margin: -36px 0px 0px 0px;
}

.mv-img-ketchup img {
    width: 17%;
    height: 107px;
    object-fit: cover;
    border-radius: 25px;
    margin: -274px 0px 0px 210px;
}

.mv-img-dishes img {
    object-fit: cover;
    width: 180px;
    height: 190px;
    border-radius: 25px;
    position: relative;
    margin: -80px 0px 0px 210px;
}

.mv-img-cooking-girl img {
    object-fit: cover;
    width: 115px;
    height: 120px;
    border-radius: 25px;
    margin: -150px 0px 0px 64px;
}

.mv-market {
    text-align: center;
    margin: 0px 233px;
}

.mv-img-map img {
    object-fit: cover;
    text-align: center;
    width: 100%;
}

.mv-footer {
    background-color: #014701;
}

.mv-sub-heading-news-events {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 15px;
    margin: 0% 24%;
}

.mv-heading-news-events {
    font-family: 'Roboto Slab', serif;
    font-size: 35px;
    color: #ffffff;
    margin: 0% 23%;
}

.mv-news-events {
    padding: 2% 0% 30% 0%;
}

.mv-view-all {
    padding: 16% 0% 0% 54%;
}

.mv-events-news-slick-box {
    background-color: #ffffff;
    float: left;
    text-align: center;
    width: 100%!important;
    background: transparent;
    box-shadow: -1px 1px 13px -5px #0000008c;
}

.mv-slick-midle-one {
    padding: 0px 10px 0px 10px;
}

.mv-slick-midle-two {
    padding: 0px 10px 0px 0px;
}

.mv-events-news-slick {
    display: inline;
    width: 70%;
    position: absolute;
    margin: -10% 0% 0% 10%;
}

.mv-color-box {
    background-image: linear-gradient( 135deg, #c0c72a, #017f00 50%);
    height: 370px;
}

.mv-position {
    position: relative;
}

.slick-img img {
    object-fit: cover;
    width: 100%;
    height: 198px;
}

.mv-padding-extra {
    padding: 16% 0% 0% 0%;
}

.mv-navi-slick .slick-list {
    margin: 0 -27px;
    border-radius: 25px;
    box-shadow: -7px 2px 13px -5px #0000008c;
}

.mv-events-news-slick .slick-list {
    margin: 0 -27px;
    border-radius: 25px;
    box-shadow: -1px 2px 13px -5px #0000008c;
}

.mv-events-news-slick .slick-next {
    background: white;
    box-shadow: 0px 0px 28px -5px #00000057;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    right: -56px;
    top: 117px;
}

.mv-events-news-slick .slick-prev {
    background: white;
    box-shadow: 0px 0px 28px -5px #00000057;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    left: -58px;
    top: 117px;
    z-index: 999;
}

.slick-heading {
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    color: #3e3e3e;
    text-align: left;
}

.slick-details {
    font-size: 12px;
    line-height: 16px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.slick-details-padding {
    margin: 5% 10%;
}

.mv-slick-banner-one {
    background-size: cover;
    width: 100%;
    height: 859px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
}

.main-slider-overlay {
    background-color: #00000082;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.slick-containt {
    position: absolute;
    z-index: 9;
    color: #ffffff;
    margin: 14% 0% 0% 0%;
    padding: 0% 46% 0% 5%;
}

.navi-section {
    padding: 0% 0% 30% 0%;
}

.mv-navi {
    position: relative;
}

.nav-link {
    color: #ffffff;
}

.mv-nav-heading {
    color: #ffffff!important;
    font-family: 'Roboto Slab', serif;
    font-size: 58px;
    line-height: 72px;
}

.slick-dots {
    top: 600px;
    right: 600px;
}

.mv-navi-slick-box {
    background-color: #ffffff;
    float: left;
    text-align: center;
    height: 376px;
}

.mv-navi-slick {
    padding: 0px 14px;
    display: inline;
    width: 58%;
    height: 202px;
    position: absolute;
    margin: -14% 17%;
}

.navi-slick-img img {
    width: 77%;
    margin: 0% 11%;
}

.btn-hide-red {
    margin: 11% 15%;
}

.mv-hover-header {
    padding: 13% 20%;
}

.mv-hover-details {
    padding: 0% 19%;
}

.hide-one {
    background-image: linear-gradient( 135deg, #c0c72a, #017f00 50%);
    height: 376px;
    z-index: 1;
    transform: translateY(100%);
    position: absolute;
    top: 0;
    transition: 0.5s;
}

.mv-navi-slick-box:hover .hide-one {
    transform: translateY(0%);
    top: 0;
    transition: 0.5s;
}

.navi-section .mv-navi-slick-box {
    position: relative;
}

.mv-hover-header {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    color: #ffffff;
}

.mv-hover-details {
    color: white;
    font-size: 13px;
}

.mv-nav-slick-heading,
.mv-nav-slick-details {
    text-align: center;
}

.navi-section .slick-dots li.slick-active button:before,
.navi-section .slick-dots li button:before {
    opacity: .75;
    color: white;
}

.navi-section .mv-navi-slick .slick-prev {
    background: white;
    box-shadow: 0px 0px 28px -5px #00000057;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    left: -38px;
    z-index: 999;
}

.navi-section .mv-navi-slick .slick-next {
    background: white;
    box-shadow: 0px 0px 28px -5px #00000057;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    right: -38px;
}

.slick-next:before,
.slick-prev:before {
    font-family: monospace !important;
    font-size: 40px !important;
    color: black !important;
}

.hide-one .btn-hide-red {
    margin: 0 !important;
    display: inline-block !important;
    margin-top: 15px !important;
    min-width: 150px !important;
    font-size: 12px !important;
}

.kvc-logo img {
    width: 115px;
    position: relative;
    margin: 8px 73px;
}

.navbar-collapse {
    margin: 0px 70px;
}

#navbarSupportedContent {
    align-items: inherit;
    text-align: right;
    justify-content: flex-end;
}

.mv-navi-bar {
    position: absolute;
    top: 0%;
    left: 0;
    z-index: 999;
    width: 100%;
}

.navbar-expand-lg .navbar-nav .nav-link {
    margin: 0 18px;
    color: #ffffffc7;
}

@media (max-width: 428px) {
    .mv-navi-slick-box {
        height: 60%;
    }
    .mv-navi-slick {
        width: 100%;
        position: unset;
        margin: 0% 0%;
        height: auto;
    }
    .navi-section {
        padding: 0% 0% 0% 0%;
    }
    .mv-img-txt {
        margin: 17px 0px 25px 0px;
    }
    .mv-box {
        width: 45%;
        margin: 57px 0px 0px 0px;
    }
    .img-building img {
        width: 79%;
        height: 494px;
        margin: 0px 0px 0px 65px;
    }
    .mv-img-dishes img {
        width: 129px;
        height: 182px;
        margin: -80px 0px 0px 196px;
    }
    .mv-margin {
        margin: 0% 0% 0% 8%;
    }
    .mv-details {
        margin: 20px 0px 29px 0px;
    }
    .mv-heading-news-events {
        margin: 0% 14%;
    }
    .mv-color-box {
        height: 230px;
        margin: 0px 0px 260px 0px;
    }
    .mv-events-news-slick {
        padding: 0px 0px 0px 0px;
        width: 96%;
        height: auto;
        position: unset;
        margin: 9% 0% 0% 0%;
    }
    .mv-view-all {
        padding: 2% 0% 0% 11%;
    }
    .mv-news-events {
        padding: 10% 0% 0% 0%;
    }
    .mv-market {
        margin: 0px 0px 0px 0px;
    }
    .kvc-logo img {
        width: 100%;
        position: unset;
        margin: 0px 0px 0px 0px;
    }
    .mv-navi-bar {
        position: relative;
        top: 0%;
        left: 0;
        z-index: 9;
        background: white;
    }
    .navbar-brand {
        width: 20%
    }
    .hide-one {
        height: 100%;
    }
    .navbar-toggler {
        background: #80808052;
    }
    .navi-section .mv-navi-slick .slick-prev,
    .mv-events-news-slick .slick-prev {
        left: 0px;
    }
    .navi-section .mv-navi-slick .slick-next,
    .mv-events-news-slick .slick-next {
        right: 0px;
    }
    .mv-events-news-slick-box {
        width: 100%;
    }
    .mv-padding-extra {
        padding: 29% 0% 0% 0%;
    }
}